.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;

@media all and (min-width: 768px) {
  
 
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 40px;

}
}

.footer__copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 10px;
}

.footer__logo-img {
 
  background-size: cover;
  width: 103px;
  height: 40px;
}


