.card__data-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 20px;
    text-transform: capitalize;
  }
  
  .card__data-job {
    font-size: 16px;
    line-height: 20px;
    color: #54585a;
  }

  
  